{% extends "index.html" %}
{% load staticfiles %}

{% block display1 %}
<div class="movie-list-wrapper">
<div class="heading-top"><div class="result">{{count}} Results Found Based On Popularity </div>
{% for g in m_list %}
 
<div class="blanket">
 <span class="count-holder fadeInLeft animated"><div style="margin:8px;">{{ forloop.counter }}</div></span>
 <span class="image-holder fadeInDown animated"><img src="{{ g.image }}"></span>
 <span class="info-holder fadeInUp animated"><div style="margin-left:8px;"><a href="{% url 'movies_detail' g.id %}">{{g.movie_name}}<br><img src="{% static '/static/star.png' %}">  {{g.imdb_score}}<br>Director: {{g.director}}</a></div></span>
</div>
{% endfor %}
</div>


{% endblock %}